@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

$mainFont: 'Montserrat', sans-serif;

$primary-color: rgba(255, 255, 255, 0.5);
$text-color: #000;
$detail-color: #26624b;

